FIREZONE_ID={{ firezone_gateway_ident }}
FIREZONE_TOKEN={{ firezone_gateway_token }}
FIREZONE_NAME={{ firezone_gateway_name }}
FIREZONE_NO_TELEMETRY={{ firezone_gateway_no_telemetry }}
FIREZONE_NUM_TUN_THREADS={{ firezone_gateway_num_tun_threads }}
RUST_LOG={{ firezone_gateway_log_level }}
